<?xml version="1.0"?>
<launch>
  <arg name="robot_ip"/>
  <arg name="kinematics_config"/>
  <arg name="controllers" default="joint_state_controller joint_group_effort_controller"/>
  <arg name="stopped_controllers" default=""/>
  <arg name="robot_description"/>
  <arg name="tf_prefix" default=""/>
  <arg name="use_tool_communication" default="false"/>
  <arg name="tool_voltage" default="0"/>
  <arg name="tool_parity" default="0"/>
  <arg name="tool_baud_rate" default="115200"/>
  <arg name="tool_stop_bits" default="1"/>
  <arg name="tool_rx_idle_chars" default="1.5"/>
  <arg name="tool_tx_idle_chars" default="3.5"/>
  <arg name="headless_mode" default="false"/>
  <arg name="controller_config_file" default="$(find ur_robot_driver)/config/ur_torque_controllers.yaml"/>
  <arg name="script_file" default="$(find ur_robot_driver)/resources/torque_control.urscript"/>
  <arg name="input_recipe_file" default="$(find ur_robot_driver)/resources/rtde_input_torque_recipe.txt"/>
  <arg name="output_recipe_file" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>

  <param name="robot_description" textfile="$(arg robot_description)"/>

  <node name="ur_hardware_interface" pkg="ur_robot_driver" type="ur_robot_driver_node" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)"/>
    <param name="kinematics/config" value="$(arg kinematics_config)"/>
    <param name="script_file" value="$(arg script_file)"/>
    <param name="output_recipe_file" value="$(arg output_recipe_file)"/>
    <param name="input_recipe_file" value="$(arg input_recipe_file)"/>
    <param name="headless_mode" value="$(arg headless_mode)"/>
    <param name="use_tool_communication" value="$(arg use_tool_communication)"/>
    <param name="tool_voltage" value="$(arg tool_voltage)"/>
    <param name="tool_parity" value="$(arg tool_parity)"/>
    <param name="tool_baud_rate" value="$(arg tool_baud_rate)"/>
    <param name="tool_stop_bits" value="$(arg tool_stop_bits)"/>
    <param name="tool_rx_idle_chars" value="$(arg tool_rx_idle_chars)"/>
    <param name="tool_tx_idle_chars" value="$(arg tool_tx_idle_chars)"/>
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
  </node>

  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="$(arg controllers)"/>

  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="--stopped $(arg stopped_controllers)"/>

</launch>
